.header{
  width: 119%;
  padding: 0px 0px 20px 0px;
  font-size: 11px;
  font-family: "Helvetica Neue";
}

.auditors{
  border: none;
} 

i{
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.footer{
  border-top: 1px solid black;
  margin: 0% -16% 0% -16%;
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;

} 

.right{
  border: none;
  margin: 0px 10px 0px 0px;

}

.months{
  margin: 1px 0px 0px 0px;

}

.left{
  border: none;
  margin: 0px 0px 0px 10px;
}

.arrow-left{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-right{
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.content{
  
  padding: 10px 0px;
} 
