<div style="color: black;">
  <div class="header">
    Auditors
  </div>
  <div class="content" *ngFor="let auditor of arrayOfAuditors; let i = index">
    <button class="auditors" (click)="getGraph(i)">
    {{ auditor.firstName }} {{ auditor.lastName }}
    </button>
  </div>
  <div class="footer">
    <div>
    <button class="right" (click)="clickLeft()"><i class="arrow-right"></i></button>
    </div>
    <div class="months">{{currentMonth}}</div>
    <div>
    <button class="left" (click)="clickRight()"><i class="arrow-left"></i></button>
    </div>
  </div>
</div>	

