<div>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Auditor
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li *ngFor="let auditor of arrayOfAuditors; let i = index"><a href="#" (click)="setAuditor(i); false">{{ auditor.firstName }} {{ auditor.lastName }}</a></li>
    </ul>
  </div>

  <div *ngIf="auditor != null">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Month
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
	<li *ngFor="let months of auditor.arrayOfMonths; let j = index"><a href="#" (click)="setMonth(j); false">{{ months }}</a></li>
      </ul>
    </div>
  </div>
  <div *ngIf="aMonth != 0">
    <button class="btn btn-primary" type="button" (click)="compileGraph()">Compile Graphs</button>
  </div>	
</div>
