<div class="aContainer">
  <div class="filterWrapper">
    <popover-content #myPopover placement="bottom" [closeOnClickOutside]="true">
      <popover-filter [arrayOfAuditors]="arrayOfAuditors" (selectedMonth)="setMonth($event)" (selectedAuditor)="setAuditor($event)"></popover-filter>
    </popover-content>
    <button class="aFilter" [popover]="myPopover">Filter</button>
  </div>
</div>
<div>
  <chart [data]="data" [backgroundColors]="backgroundColors" [borderColors]="borderColors" [labels]="labels" [label]="label" [errorData]="errorData" [errorBackgroundColors]="errorBackgroundColors" [errorBorderColors]="errorBorderColors" [errorLabel]="errorLabel"></chart> 
  </div>
