<div class="navbar">
  <div class="containter-logo">
    <div class="martin-brower-logo">
      <img class="the-image" src="./assets/martin-brower.jpg" />
    </div>
  </div>
  <div class="nav-tabs-container">
    <div class="nav-tab far-left">
      <button *ngIf="auditSelected == false" class="nav-button" (click)="navigateAuditing()">
      Auditing
      </button>

      <button *ngIf="auditSelected == true" class="nav-button-on" (click)="navigateAuditing()">
      Auditing
      </button>

    </div>
    <div class="nav-tab">
      <button *ngIf="archiveSelected == false" class="nav-button" (click)="navigateArchives()">
      Archives
      </button>

      <button *ngIf="archiveSelected == true" class="nav-button-on" (click)="navigateArchives()">
      Archives
      </button>

    </div>
  </div>
</div>
<router-outlet></router-outlet>


